.cart-block{
    display: flex;
    align-items: center;
    position: relative;
}

.cart-block_total-price{
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.cart-block_item{
    cursor: pointer;
    position: relative;
}