.game-page_content{
    display: flex;
    flex-wrap: wrap;
}

.game-page_left{
    width: 70%;
}

.game-page_right{
    width: 30%;
}

.game-page_buy-game{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.secondary-text{
    color: rgb(80, 82, 84);
}




@media (max-width: 800px){
    
    .game-page_content{
        display: flex;
        flex-direction: column;
    }

    .game-page_left{
        width:100%;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    iframe{
        width:95%;
        height: 250px;
        
    }
    .game-page_right{
        width: 95%;
    }
}

